*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwMzYxOTU4Nw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    background-size: cover;
    background-position: center center;
}

.box_large{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.box_medium{
    margin-top: 30px;

}

.box_small{
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;    
    font-size: 15px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: CALC(100% - 60PX);
}

.buscabtn{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;


}

.img_busca{
    width: 20px;
}

.cidade{
    color: #ffffff;
    font-size: 20px;
    font-weight: 18;

}

.temp{
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;

}

.previsaotxt{
    color: #ffffff;
    margin-left: 20px;

}

.umidade{
    color: #ffffff;
    margin-top: 20px;


}